body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.choices {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 30px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
}

.player {
    border: 2px solid blue;
    padding: 100px;
}

.computer {
    border: 2px solid red;
    padding: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

header,
footer {
    display: flex;
    justify-content: center;
}