body {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(216, 216, 216);
}


.choices {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 30px;
}

.game-progress,
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
}


.player,
.computer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 100px 0px;
    font-size: 50px;
}

.player {
    border: 2px solid blue;
    background-color: rgb(150, 150, 244);
}

.computer {
    border: 2px solid red;
    background-color: rgb(233, 158, 158);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

header,
footer {
    display: flex;
    justify-content: center;
}

#rock,
#paper,
#scissors {
    flex-grow: 1;
    padding: 30px 0px;
    font-size: 30px;
}

#name,
#start,
#reset {
    padding: 10px 0px;
    font-size: 20px;
    flex-grow: 1;
}


.name,
.start,
.reset,
.navigation {
    display: flex;
}

.start,
.reset,
.name {
    flex-grow: 1;
}